X_API_KEY = API key for Twitter API
X_API_SECRET = API secret key for Twitter API
X_ACCESS_TOKEN = Access token for Twitter API
X_ACCESS_SECRET = Access token secret for Twitter API
X_BEARER = Bearer token for Twitter API
GOOGLE_API_KEY = API key for Google API
NEWS_API_KEY = API key for News API
MONGO_URI = MongoDB connection URI
SILICONFLOW_API_KEY = API key for SiliconFlow API